*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
    color: white;
}
body{
    height: 100%;
    width: 100%;
    background-color: #111;
}
nav{
    background-color: orange;
    height:10vh;
    width: 100vw;
    font-size: larger;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#box{
    height: 300px;
    width: 300px;
    background-color: crimson;
}
#box2{
    height: 300px;
    width: 300px;
    background-color: lightseagreen;
}
#box3{
    height: 300px;
    width: 300px;
    background-color:purple;
    display: flex;
    align-items: center;
    justify-content: center;
}

